set (autostart false)
set (preconditions Platform)
set (callsign "org.rdk.Tools")

if(PLUGIN_TOOLS_STARTUPORDER)
set (startuporder ${PLUGIN_TOOLS_STARTUPORDER})
endif()


map()
   key(root)
   map()
       kv(mode ${PLUGIN_TOOLS_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
